
.text-red{
    color:red
}

.fs-small{
    font-size: 14px;
}

.fs-medium{
    font-size:20px;
}

.fs-large{
    font-size:30px;
}

#first-article{
    font-size: 35px;
}
/*
body{
    background-color:white;
}

h2{
    color:red;
    font-size :32px;
    text-transform: uppercase;
    font-family:sans-serif;
}
p{
    color:black;
    font-size: 16px;
}
*/
